*
{
margin: 0;
padding: 0;
}
/* the body*/
      body {
        
        background-color: white;
        color: black;
        font-size: 25px;
      }
      .dark-mode {
        background-color: black;
        color: white;
        
      }

      h1 {
        text-align: center;
        text-transform: uppercase;
        color: black;
      }

      p {
        font-weight: bold;
      }

      em {
        color:RED;
        font-style: normal;
      }

      
      * {
  box-sizing: border-box;
}

/* The loggo malmborgart above nav bar*/
.logga img
{
position: sticky;
padding-left: 1px;
padding-top: auto;
height:auto ;
width: auto ;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


/* navigation bar, styling.*/
.navbar
{
  background-color: rgb(230, 225, 225);
  text-align: left; 
  
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
  
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  
}

/* Background behinde big img*/
.col-8
{
place-content: center;
padding-top: 15px;
background-color: #222;
}

/* Position the "next button" to the right */
.next {
  right: 15px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/5) inside big*/
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 20px 12px;
  position: absolute;
  top: 0;
  
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 15px;
  color: white;
  
}

/* thumbnail box*/
.row:after 
{
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: center;
  width: 20%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  
}

/*mouse hover over thumbnail pictures*/
.active,
.demo:hover {
  opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*rows */
.row
{
  justify-content: center;
}

/*footer */
.last-text{
  text-align: center;
}